# 100+ Python challenging programming exercises ( in Python 3.x)

# Question 1 :
Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 2000 and 3200 (both included).
The numbers obtained should be printed in a comma-separated sequence on a single line.

**Hints: 
Consider use range(#begin, #end) method**

# Solution:

In [1]:
l=[]
for i in range(2000, 3201):
    if (i%7==0) and (i%5!=0):
        l.append(str(i))

print (','.join(l))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

# Question 2 :

Write a program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence on a single line.
Example:


```
Input: 8
Output: 40320
```



**Hints: In case of input data being supplied to the question, it should be assumed to be a console input.**

# Solution :

In [2]:
def fact(x):
    if x == 0:
        return 1
    return x * fact(x - 1)

x=int(input())
print (fact(x))

8
40320

# Question 3 :
With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included) and then the program should print the dictionary.
Example: 


```
Input: 8
Output: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
```

**Hints: In case of input data being supplied to the question, it should be assumed to be a console input and consider use dict()**

# Solution :

In [3]:
n=int(input())
d=dict()
for i in range(1,n+1):
    d[i]=i*i

print (d)

8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

# Question 4 :
Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
Example:


```
Input: 34,67,55,33,12,98
Output: ['34', '67', '55', '33', '12', '98']
        ('34', '67', '55', '33', '12', '98')
```

 **Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
tuple() method can convert list to tuple**

# Solution :

In [4]:
values= input()
l=values.split(",")
t=tuple(l)
print (l)
print (t)

34,67,55,33,12,98
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

# Question 5 :
Define a class which has at least two methods:


```
getString: to get a string from console input
printString: to print the string in upper case.
```


Also please include simple test function to test the class methods.
Example:


```
Input : HelloWorld
Output: HELLOWORLD
```



**Hints: Use __init__ method to construct some parameters**

# Solution :

In [6]:
class InputOutString(object):
    def __init__(self):
        self.s = ""

    def getString(self):
        self.s = input()

    def printString(self):
        print (self.s.upper())

strObj = InputOutString()
strObj.getString()
strObj.printString()

HelloWorld
HELLOWORLD